/*------------------------------------*\
    #Resets
\*------------------------------------*/
input:focus {outline:none;}
textarea:focus, input:focus {outline: 0;}
a:link, a:visited, a:visited, a:hover, a:active {text-decoration: none; cursor: pointer;}

.page--contacts .subtitle {
    color: white;
}

.section-image {
    background-image: url('/client/images/mesaluisa-contacts.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center center;
    z-index: -10;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    margin-top: 80px;
}

.contactos-wrap {	
	display: block;
	background-color: $brown;
	padding: 50px 0;
}

.hours, .address {
	color: white;
	text-align: center;
}

a.text-2 {
	color: white;
	text-decoration: none;
}

.no--margin {
    margin: 0px;
}

.page--contacts .contacts {
    margin-top: 25px;
}

.page--contacts .button {
    margin-top: 25px;
}

.contacts--social svg {
    fill: #FFF;
    height: 18px;
    width: auto;
}

.page--contacts .text-2 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
}
/*------------------------------------*\
    #MQ
\*------------------------------------*/
@media screen and (min-width: 1024px) {	
    .page--contacts {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
	.page--contacts .section-image {
        margin-top: 0px;
    }
    
    .contactos-wrap {
        min-height: 50vh;
    }

    .page--contacts .section-image, .page--contacts .contactos-wrap {
        width: 50%; 
        min-height: 100vh; 
        padding-top: 25vh;
    }
}