/*------------------------------------*\
    #Section-1
\*------------------------------------*/
.section-1 {
	background-image: url("/client/images/mesaluisa-home.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	background-size:cover;
	background-position: left top;
	color: white;
	//display: block;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.home {
    width: 100%;
}

/*.home-title {
	padding-top: 70vh;
	text-transform: uppercase;
	font-size: 2.7rem;
	font-weight: 200;
	line-height: 1.3;
	margin-top: 0;
	letter-spacing: 0.05rem;
}*/

.home-title {
	text-transform: uppercase;
	font-size: 2.7rem;
	font-weight: lighter;
	line-height: 1.3;
	margin-top: 15vh;
	letter-spacing: 0.25rem;
}


@media screen and (min-width: 481px) {

}

@media screen and (min-width: 768px) {
	
}

@media screen and (min-width: 1024px) {	
	.home-title {
		font-size: 4rem;
		text-transform: uppercase;
		letter-spacing: 0.25rem;
	}
}

@media screen and (min-width: 1536px) {
	
}